.flash-box
.wrapper
  .chat-side
    .side-header
      %p.side-header__user-name
        kaz
      %ul.user-menu
        %li.user-menu__edit-user
          =link_to new_group_path do
            %i.fa.fa-edit
        %li.user-menu__new-group 
          =link_to "/users/1/edit" do
            %i.fa.fa-cog 
    .groups
      - current_user.groups.each do |group|
        .group
          = link_to group_messages_path(group) do
            .group__name
              = group.name
            .group__message
              メッセージはまだありません。

  .chat-main
    .main-header
      .current-group
        %h2.current-group__name
          11
        %ul.member-list
          Member：
          %li.member-list__member
            kaz
      = link_to "/users/1/edit" do
        .main-header__edit-btn
          Edit
    .messages
      .message
        .upper-info
          %p.upper-info__user
            kaz
          %p.upper-info__date
            2019/04/24(Wed) 00:09:34
        %p.message__text
          aaaa

    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
